@import "../../assets/scss\ config/import-all.scss";

.wrapper {
    @extend %center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    background-color: $light-grey;
    padding: 40px 0;
    @include respond-to($m) {gap: 10px; padding: 18px 0; border-radius: 10px;}
}

.divImg {
    width: 28%;
    @include respond-to($m) {width: 90%;}
}