@import "tailwindcss";

.title {
  @apply text-[#909090] font-black text-lg;
}

body {
  font-family: var(--font-neue);
  line-height: 1.25;
}

.messina {
  font-family: var(--font-messina);
}

body::selection {
  background: white;
  color: black;
}

.text-red {
  color: #ff0000;
}

.text-grey {
  color: #909090;
}

.bg-red {
  background-color: #ff0000;
}

.border-red {
  border-color: #ff0000;
}
